@font-face {
   font-family: pattayaFont;
   src: url(Pattaya-Regular.ttf);
}
@font-face {
   font-family: kanitFont;
   src: url(Kanit-Regular.ttf);
}

body{
	font-family: pattayaFont;
}

#Bg{
	position: absolute;
	z-index: -1;
}

#head{
	display: inline;
}

.header{
	padding: 0px;
	margin-top: 10px;
}

.btnn{
	color: white;
	font-family: kanitFont;
	padding-bottom: 50px;
	padding:10px;
	border: none;
	cursor: pointer;
}

.home{
	background: #ed6327;
}

.make{
	background: orange;
}

.what-eat{
	background: #fcb023;
}

.about-us{
	background: #f49ac1;
}

.contact-us{
	background: #008aff;
}

.bar{
	height: 90px;
}

.box-home{
	background: #3f6bb7;
	height: 500px;
}

.box-about-us{
	background: #f49ac1;
	height: 800px;
}

.h-home{
	color: #6eed0c;
}

.up{
	font-size: 3em;
}

.content-home{
	color: #C8d5e8;
	font-size: 20px;
}

.btnn-content-home{
	color: white;
	font-family: pattayaFont;
	padding-bottom: 50px;
	padding:7px;
	border: none;
	cursor: pointer;
	background: #6d8fe3;
}