@font-face {
   font-family: pattayaFont;
   src: url(Pattaya-Regular.ttf);
}
@font-face {
   font-family: kanitFont;
   src: url(Kanit-Regular.ttf);
}

body{
	font-family: pattayaFont;
	background-image: url('background.png');
	background-size: cover;
}

#Bg{
	position: absolute;
	z-index: -1;
}

#head{
	display: inline;
}

.header{
	padding: 0px;
	margin-top: 10px;
}

.btnn{
	color: white;
	font-family: kanitFont;
	padding-bottom: 50px;
	padding:10px;
	border: none;
	cursor: pointer;
	width: 150px;
	height: 50px;
}

.home{
	background: #ed6327;
}

.make{
	background: orange;
}

.what-eat{
	background: #fcb023;
}

.about-us{
	background: #f49ac1;
}

.contact-us{
	background: #008aff;
}

.bar{
	height: 90px;
}

.box-home{
	background: #3f6bb7;
	height: 500px;
}

.box-about-us{
	background: #f49ac1;
	height: 50px;
	width: 100%;
}

.box-contact-us{
	background: #008aff;
	height: 710px;
}

.box-make{
	background: orange;
	height: 1100px;
}

.box-menu{
	background: #fcb023;
	height: 1500px
}

.h-home{
	color: #6eed0c;
}

.up{
	font-size: 3em;
}

.content-home{
	color: #C8d5e8;
	font-size: 20px;
}

.btnn-content-home{
	color: white;
	font-family: pattayaFont;
	padding-bottom: 50px;
	padding:7px;
	border: none;
	cursor: pointer;
	background: #6d8fe3;
}

#about-img{
 /* float: center;
 top: 500px;
 margin-top: 90px;*/
 position: relative;
 background-image: url('about.png');
 background-size: cover;
 height: 700px;
}

.box-scroll2{
	height: 500px;
	overflow-y: scroll;
}


#about-text1{
	margin-top: 50px;
	color: #daf75a;
	width: 500px;
}

#about-text2{
	font-family: kanitFont;
	margin-top: 50px;
	color: #fff3f8;
	width: 500px;
}

#map{
	position: relative;
	padding: 150px;
}

#h-contact{
	position: absolute;
	padding-top: 50px;
	left: 230px;
	color: #ff4100;
}

#h-menu{
	position: absolute;
	padding-top: 50px;
	left: 230px;
	color: purple;
}

#box-plate{
	margin: 100px auto;
	margin-left: 100px;
	height: 600px;
	background-image: url('Plate.jpg');
	position: relative;
	background-repeat: no-repeat;
}
#box-food1{
	margin-top: 120px;
	height: 150px;
	background-repeat: no-repeat;

}
#box-food2{
	margin-bottom: 10px;
	margin-left: 250px;
	height: 150px;
	background-repeat: no-repeat;
}
#etc{
	margin-top: 20px;
	margin-left: 110px;
	height: 120px;
	background-repeat: no-repeat;
}

.food{
	margin-top: 100px;
	height:  200px;
	color: #15b350;
	font-size: 50px;
}

.show-food{
	margin: 15px;
	width: 170px;
	height: 170px;
}

.box-scroll{
	height: 250px;
	overflow-y: scroll;
}

.name-food{
	width: 200px;
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 20px;
}

#btn-reset{
	color: black;
	font-family: pattayaFont;
	padding-bottom: 50px;
	padding:10px;
	border: none;
	cursor: pointer;
	width: 150px;
	height: 50px;
	background-color: white;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.box-scroll::-webkit-scrollbar {
    width: 0.4em;
}
 
/*.box-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}*/
 
.box-scroll::-webkit-scrollbar-thumb {
  background-color: #FF8C00;
  outline: 1px solid slategrey;
}

.box-scroll2::-webkit-scrollbar {
    width: 0.4em;
}
 
/*.box-scroll2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}*/
 
.box-scroll2::-webkit-scrollbar-thumb {
  background-color: 	#D3D3D3;
  outline: 1px solid slategrey;
}


@media only screen and (max-width: 768px){
	.box-home{
		position: relative;
		display: block;
		height: 100%;
	}
	.box-about-us{
		position: relative;
		display: block;
	}
	#about-text2{
		width: 100%;
	}
	img{
		padding: 10px;
	}
}

#menu1{
	display: flex;
	width: 100%;
	height: 60vh;
}

#meal1{
	margin-top: 150px;
	margin-left: 220px;
	display: flex;
	width: 100%;
	height: 60vh;

}

#menu-s1{
	background-image: url('menu-s1.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}
#menu-s2{
	background-image: url('menu-s2.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}

#menu-s3{
	background-image: url('menu-s3.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}

#menu-s4{
	background-image: url('menu-s4.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}

#menu-s5{
	background-image: url('menu-s5.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}

#pad{
	height: 150px;
}

#meal1 div:hover{
	flex-grow:2 !important;
};

#menu2{
	display: flex;
	width: 100%;
	height: 60vh;
}

#meal2{
	margin-top: 100px;
	margin-left: 220px;
	display: flex;
	width: 100%;
	height: 60vh;

}

#menu-p1{
	background-image: url('menu-p1.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}
#menu-p2{
	background-image: url('menu-p2.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}

#menu-p3{
	background-image: url('menu-p3.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}

#menu-p4{
	background-image: url('menu-p4.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}

#menu-p5{
	background-image: url('menu-p5.jpg');
	background-size: cover;
	background-position: center;
	flex-grow:1;
	transition:all .3s;
}

#meal2 div:hover{
	flex-grow:2 !important;
};